/* DEBUG  */
.back-col{
    background-color: rgb(80, 80, 80);
}
/* 
.box{
    background-color: lightpink;
    border: 1px solid white;
} */


.text-gray{
    color: rgb(153, 153, 153);
}

/* Start Row  */

.back-start{
    background-color: rgb(3, 172, 163);
}


/* Setting Portfolio  */

.back-po{
    background-color: lightgreen;
}


/* Utility */

.xxx-large{
    font-size: xxx-large;
}

.m-100{
    margin-bottom: 100px;
}