/* header setting */
.ms_backhead{
    background-color: #2C3E50;
}

/* Start Row  */
.back-start{
    background-color: #1ABC9C;
}

/* Location row */
.ms_loback{
    background-color: #3A546D;
}

/* Utility */
.ms_line-align{
    display: inline-block;
    line-height: 30px;
    width: 30px;
    text-align: center;
}

.xxx-large{
    font-size: xxx-large;
}

.m-100{
    margin-bottom: 100px;
}

.text-gray{
    color: rgb(153, 153, 153);
}

.ms_text1ABC9C{
    color: #1ABC9C;
}

.ms_text2CE50{
    color: #2C3E50;
}

.ms_bor2CE50{
    background-color:#2C3E50 !important;
    height: 3px;
}

.ms_pl-100{
    padding-left: 150px;
    padding-right: 150px;
}

.ms_f-small{
    font-size: small;
}
